{% extends 'base.html' %}
{% block header %}
{% endblock header %}

{% block content %}


<form action='' method='POST' enctype='multipart/form-data'>{% csrf_token %}
<table>
<tr>
    <td>タイトル</td>
    <td><input type='text' name='title'></td>
</tr>
<tr>
    <td>内容</td>
    <td><input type='text' name='content'></td>
</tr>
<tr>
    <td>画像</td>
    <td><input type='file' name='images'></td>
</tr>
<input type='hidden' name='author' value='{{user.username}}'>
</table>
<input type='submit' value='作成する'>
</form>

{% endblock content %}

{% block footer %}
{% endblock footer %}