{% extends 'base.html' %}
{% block header %}
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-size: 50px; font-family:fantasy;">TexTrade</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">マイページ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">カテゴリ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                カテゴリ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
<div class="alert alert-info"  role="alert"> 
    <h3>{{ profile.user}}さんのプロフィール</h3>
  </div>
{% endblock header %}
{% block content %}
<div class="box">
  <ul>
    <li>名前: {{ profile.user }}</li>
    <li>性別: {{ profile.gender }}</li>
    <li>大学: {{ profile.college }}</li>
    <li>自己紹介: {{ profile.intro }}</li>
  </ul>

  <h3>出品した教科書</h3>
  <div class="listcontainer">
  {% for item in objects %}
  <div class="card-card" >
  <a href="{% url 'detail' item.pk %}"></a>
  <div class="card" style="width: 150px; height: 150px;">
    {% if item.images %}
      <p><img src="{{item.images.url}}" width=150 height=110 class="card-img-top" alt="..."></p>
    {% endif %}
      <div class="card-b">
        <h6 class="card-title">{{item.title}}</h6>
      </div>
    </div>
  </div>
  {% endfor%}
  </div>
  <div class="post"><a href="{% url 'create' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">新規投稿</a>
  </div>
  </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}